.paymentsPage {
  width: 100%;

  .checkbox {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

    .searchInput {
      height: initial !important;
      margin-bottom: 1.75rem;
    }

}
