@import '@/shared/styles/media-queries';

.subscribersContainer {
  margin-top: 1.1875rem;
  @include media-s-medium {
    gap: 58px;
  }

  @include media-extra-small {
    gap: 33px;
  }

  display: flex;
  gap: 100px;

  .item {
    display: flex;
    flex-direction: column;
  }
}

.text,
.amount {
  @include media-extra-small {
    font-size: var(--font-size-12);
  }
}
