@import '@/shared/styles/mediaQueries';

//.superAdminBody {
//  display: flex;
//  justify-content: center;
//
//  width: 100%;
//  margin-top: 60px;
//  padding: 0 4rem 0 2rem;
//}

.AdminLayoutBody {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  width: 100%;
  margin-top: 3rem;
}

.contentWrapper {
  @include media-medium {
    padding: 0;
  }

  width: 100%;

  //padding: 0 0 0 14rem;
  max-width: 972px;

  .publicProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profileContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .postsContainer {

    @include media-medium {
      gap: 0.5rem;
    }

    @include media-extra-small {
      grid-template-columns: repeat(3, auto);
    }

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;

    .postWrapper {
      @include media-small {
        width: 134px;
        height: 128px;
      }

      position: relative;
      width: 234px;
      height: 228px;
    }
  }
}