@import '@/shared/styles/media-queries';

.windowWrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  overflow: auto;

  width: 100%;
  height: 100%;

  background-color: rgb(0 0 0 / 50%);

  .mainWindow {
    @include media-mobile {

      @include media-mobile {
        button {width: 100% !important;}
      }

      display: flex;
      flex-direction: column;
      min-width: 240px;
      text-align: center;
    }

    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);

    min-width: 438px;
    min-height: 240px;
    margin-right: -50%;

    background: #333;
    border: 1px solid #4c4c4c;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 70px;
      padding-right: 20px;
      padding-left: 20px;

      font-size: 20px;
      font-weight: 700;
      line-height: 36px;

      border-bottom: 1px solid #4c4c4c;

      .buttonClose {
        width: 24px;
        border: none;
      }
    }

    .mainDescription {
      padding-top: 25px;
      padding-right: 20px;
      padding-left: 20px;

      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      margin-top: 40px;
      margin-bottom: 10px;
      padding-right: 20px;

      .button {
        margin-right: 20px;
      }
    }
  }
}
