.commentContainer {
  display: flex;

  gap: 12px;

  width: 100%;
  padding: 6px 24px;

  .avatarContainer {
    cursor: pointer;

    position: relative;

    overflow: hidden;

    width: 36px;
    height: 36px;

    border-radius: 50%;
  }

  .commentTextAndLikeWrapper {
    width: 100%;
    max-width: 385px;

    .commentTextContainer {
      display: flex;
      gap: 24px;
      justify-content: space-between;

      .commentText {
        font-size: var(--font-size-s);
        word-break: break-word;

        .commentTextName {
          cursor: pointer;
          margin-right: 0.5rem;
          font-weight: var(--font-weight-bold);
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    .commentLikeContainer {
      cursor: pointer;
      &:hover{
        opacity: 0.5;
      }
    }

    .commentInfoContainer {
      display: inline-flex;
      gap: 12px;
      font-size: var(--font-size-xs);

      .commentTime,
      .commentLikes,
      .commentAnswer {
        color: var(--color-light-900);
      }

      .commentAnswer {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

