.sideBarContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;

  min-height: calc(100vh - 60px);
  padding: 0 3rem;
  min-width: 220px;

  border-right: 1px solid var(--color-dark-300);

  .superAdminContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    margin-top: 4rem;
  }


  .publicContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;

    width: 100%;
    margin-top: 4rem;
  }


  .linkWrapper {
    cursor: pointer;

    display: flex;
    justify-content: flex-start;

    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-wrap: nowrap;
    letter-spacing: 0;

    &:nth-child(6) {
      margin-top: 60px;
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 4.5rem;
    }

    & img {
      margin-right: 10px;
    }

    & svg {
      margin-right: 10px;
    }
  }

  .logoutBtn {
    color: var(--color-light-100);
    border: none;
  }
}

.linkWrapperActive {
  display: flex;
  color: var(--color-info-700);
  text-wrap: nowrap;

  svg {
    margin-right: 10px;
    fill: var(--color-info-700);
    stroke: var(--color-info-700);
  }
}

.linkWrapperLast {
  margin-top: 0 !important;
}
