.dotWrapper {
  display: flex;
  background-color: var(--color-dark-300);
  width: fit-content;
  padding: 4px;
  border-radius: 2px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-light-100);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &.active {
    background-color: var(--color-info-500);
  }
}