.inputContainer {
  position: relative;

  width: 100%;
  height: 100%;


    .icon {
      position: absolute;
      z-index: 0;
      left: 12px;
      transform: translateY(8px);

      width: 20px;
      height: 20px;

      color: var(--color-light-900);

      fill: var(--color-light-900);
    }


  &:active {
    .searchIcons {
      .icon {
        fill: var(--color-light-100);
      }

      &:active {
        .icon {
          fill: var(--color-dark-100);
        }
      }
    }
  }
}

.marginTop {
  margin-top: 24px;
}

.marginBottom {
  margin-bottom: 24px;
}

.iconButton {
  all: unset;
  cursor: pointer;
  background-color: transparent;
}

.input {
  width: 100%;
  min-height: 36px;
  padding-left: 11px;

  color: var(--color-light-900);

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  font-size: var(--font-size-m);
  line-height: 24px;
  border-radius: 2px;
  &:disabled {
    color: var(--color-dark-100);
  }

  &.errorMessage:enabled {
    border: 1px solid var(--color-danger-500);
    border-radius: 2px;
    outline: none;
  }

  &:hover:enabled {
    border: 1px solid var(--color-light-900);
    color: var(--color-light-900);

    &.errorMessage {
      border: 1px solid var(--color-danger-500);
      outline: none;
    }
  }

  &:focus:enabled {
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);

    &.errorMessage {
      outline: none;
      border: 1px solid var(--color-danger-500);
    }
  }

  &:active:enabled {
    color: var(--color-light-100);
    border-color: var(--color-light-100);
    outline: none;

    &::placeholder {
      color: var(--color-light-100);
    }
  }
}

.search {
  padding: 0 42px;
}

.password {
  padding-right: 36px;
}
.error {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: var(--color-danger-500);
  border-color: var(--color-danger-500);
  font-size: var(--font-size-s);
  line-height: 24px;
}
.eyeIcon {
  position: absolute;
  z-index: 1;

  right: 0;

  transform: translateY(-75%);

  width: 24px;
  height: 24px;
  margin-right: 12px;
  padding: 0;

  color: var(--color-dark-100);
}
.locationStyle {
  cursor: auto;
  transform: translateY(25%);
}
.label {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: var(--font-size-s);
  color: var(--color-light-900);
}

.disabled {
  cursor: default;
  color: var(--color-dark-100);
  border-color: var(--color-dark-100);
  fill: var(--color-dark-100);

  ::placeholder {
    color: var(--color-dark-100);
  }
}

.required{
  &::after{
    content: "*";
    color: var(--color-danger-500);
  }
}
.textarea {
  background-color: var(--color-dark-500);
}
.resize {
  resize: none;
}