@import '@/shared/styles/media-queries';

.expired {
  @include media-mobile {
    margin-top: 1rem;
  }

  .expiredContainer {
    margin: 0 auto;
    background-color: transparent;
    border: 0;

    > h3 {
      margin-bottom: 2rem;
      line-height: 0;
    }

    > p {
      @include media-mobile {
        margin-bottom: 2rem;
      }

      margin-bottom: 3rem;
      text-align: center;
    }

    .linkAndImageContainer {
      @include media-mobile {
        flex-direction: column-reverse;

        img {
          width: 100%;
          margin-bottom: 2.625rem;
          object-fit: cover;
        }
      }

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  button {
    margin-bottom: 3rem;
  }
}
