.profileContainer {
  .photosContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    margin-top: 3rem;
  }
}

.photoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
}

.photo {
  cursor: pointer;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
