@import '@/shared/styles/mediaQueries';

.postsContainer {

  @include media-medium {
    gap: 0.5rem;
  }

  @include media-extra-small {
    grid-template-columns: repeat(3, auto);
  }

  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  .postWrapper {
    @include media-small {
      width: 134px;
      height: 128px;
    }

    position: relative;
    width: 234px;
    height: 228px;
  }
}