@import '@/shared/styles/media-queries';

.contentBody {
  display: flex;
  width: 100%;

  .main {
    @include media-mobile {
      padding-top: 0;
    }

    width: 100%;
    padding-top: 3.75rem;
  }

  .mainWithSidebar {
    display: flex;
    justify-content: center;
    width: 100%;

    .rightSideBody {
      @include media-small {
       padding: 1.5rem;
      }

      width: 100%;
      max-width: 1060px;
      padding: 2.25rem 3.5rem 2.25rem 1.5rem;
    }

  }

  .superAdminBody {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 4rem 0 2rem;
  }

  .AdminLayoutBody {
    display: flex;
    justify-content: center;
  }
}

.contentWrapper{
  max-width: 1280px;
  margin: 0 auto;
}
