@import '@/shared/styles/media-queries';

.AdminLayoutBody {
  display: flex;

  .adminRightSideBodyContainer {
    @include media-small {
      padding: 2rem 1rem 1rem;
    }

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    width: 100%;
    padding: 4.5rem 3.5rem 4rem;

    .superAdminRightSideBody {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      max-width: 972px;
    }
  }
}

.fullWidth {
  max-width: initial !important;
}
