@import '@/shared/styles/media-queries';

.wrapper {

  @include media-extra-small {
    padding: 10px;
  }

  display: flex;
  flex-direction: column;
  gap: 50px;
  place-items: center center;

  height: 100%;
  padding: 100px;
}

.errorImage {
  display: flex;
  justify-content: center;
  width: 100%;
}
