.commentContainerWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .allComments {
    display: flex;
    flex-direction: column;
    height: 320px;
    overflow-y: scroll;
  }

  .summaryContainer {
    margin-top: auto;
    padding: 12px 20px 7px 30px;
    border-top: 1px solid var(--color-dark-100);

    .actionsContainer {
      display: flex;
      justify-content: space-between;
      height: 24px;
      margin-bottom: 20px;

      .likeShareContainer {
        display: flex;
        gap: 24px;
      }
      .icon {
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .totalLikes {
      display: flex;
      gap: 12px;
      align-items: center;

      .totalLikesCount {
        font-size: var(--font-size-s);
        line-height: var(--line-height-m);
        color: var(--color-light-100);
      }

      .totalLikesAvatar {
        border-radius: 24px;
      }
    }

    .postDate {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-s);
      color: var(--color-light-900);
    }
  }
}
.plusIconContainer {
  width: 100%;
  height: 120px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .plusIcon:hover {
     cursor: pointer;
  }
}
