.auxiliaryInfo {
  color: var(--color-light-900);
  text-align: center;
  margin-top: 10vh;
}

.auxiliaryInfoNext {
  color: var(--color-light-900);
  text-align: center;
  margin-top: 6px;
}

.userItemWrapper {
  display: flex;
  margin: 12px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: var(--color-light-900);
  overflow: hidden;
}

.userInfo {
  padding-left: 10px;
}

.userName {
  text-decoration: underline;
}

.userFirstName {
  color: var(--color-light-900)
}
