@import '@/shared/styles/media-queries';

.header {
  @include media-extra-small {
    padding: 0 1rem;
  }

  display: flex;
  justify-content: center;

  height: 3.75rem;

  color: var(--color-light-100);

  background: var(--color-dark-700);
  border-bottom: 1px solid #333;

  .headerWrapper{
    padding: 0 3.5rem 0 3.5rem;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 2.25rem;
      color: var(--color-light-100);
      text-decoration: none;

      .adminDescription {
        font-size: 0.75rem;

        .adminDescriptionThin {
          font-weight: normal;
        }
      }
    }

    .option {
      position: relative;
      display: flex;
      align-items: center;
      .notificationContainer {
        position: absolute;
        top: 42px;
        left: -310px;

        max-width: 355px;
        max-height: 425px;

        background: var(--color-dark-500);

        .notification {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;
          border-bottom: 1px solid grey;

          .text {
            line-height: var(--line-height-l);

            > span {
              font-weight: var(--font-weight-regular);
              color: var(--color-info-500)
            }
          }
          .read {
            color: var(--color-light-900);
          }

        }
      }

      .ball {
        @include media-extra-small {
          margin-right: 0;
        }

        cursor: pointer;
        display: flex;
        margin-right: 2.5rem;
      }
      .iconContainer {
        position: relative;
        top: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .count {
          position: absolute;
          bottom: 1rem;
          left: 0.8rem;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 0.8125rem;
          height: 0.8125rem;

          font-size: 0.5rem;

          background: var(--color-danger-500);
          border-radius: 50%;
        }
      }
    }

    .langSwitcherContainer {
      width: 100%;
      height: 2.25rem;
    }
  }
}
