@import '@/shared/styles/media-queries';

.header {
  @include media-extra-small {
    padding: 0 1rem;
  }
  display: flex;
  justify-content: center;

  height: 3.75rem;

  color: var(--color-light-100);

  background: var(--color-dark-700);
  border-bottom: 1px solid #333;

  .headerWrapper{
    padding: 0 4rem 0 3.75rem;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 2.25rem;
      color: var(--color-light-100);
      text-decoration: none;

      .adminDescription {
        font-size: 0.75rem;

        .adminDescriptionThin {
          font-weight: normal;
        }
      }
    }

    .option {
      display: flex;
      align-items: center;

      .ball {
        @include media-extra-small {
          margin-right: 0;
        }

        cursor: pointer;
        display: flex;
        margin-right: 2.5rem;
      }

      .count {
        position: relative;
        right: 0.8125rem;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 0.8125rem;
        height: 0.8125rem;

        font-size: 0.5rem;

        background: var(--color-danger-500);
        border-radius: 50%;
      }
    }

    .langSwitcherContainer {
      width: 100%;
      height: 2.25rem;
    }
  }
}
