.wrapper {
  z-index: 10;
  display: flex;

  &:active {
    .trigger {
      color: var(--color-light-100);
      border: 1px solid var(--color-light-100);
      outline: none;
    }
  }
}

.title {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.trigger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: var(--line-height-m);
  color: var(--color-light-900);

  background: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: unset;

  &:focus {
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &:hover {
    border: 1px solid var(--color-light-900);
  }
  &:active {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);
    outline: none;
  }
  &:disabled {
    color: var(--color-dark-100);
    border: 1px solid var(--color-dark-100);
  }
}

.viewport {
  position: relative;
  left: 0;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
}

.item {
  all: unset;

  padding: 6px 12px;

  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: var(--line-height-m);
  color: var(--color-light-900);

  background: var(--color-dark-500);

  &:hover {
    cursor: pointer;
    background: var(--color-dark-300);
    color: var(--color-info-500);
  }
  &:active {
    color: var(--color-light-100);
    outline: none;
  }
}

.selectContent {
  // use this to adjust styles of [data-radix-popper-content-wrapper]
  position: relative;
  z-index: 10;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.icon,
.iconRotated {
  fill: var(--color-light-100);
  transition: 0.5s;
}

.iconRotated {
  transform: rotate(180deg);
}
.pagination {
  margin: 0;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-light-100);
  padding-top: 0;
  padding-bottom: 0;
  &:hover{
    color: var(--color-light-100);
    background-color: var(--color-dark-100);
  }
}